<ion-menu>
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-icon name="home"></ion-icon>
      <ion-label>item 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home"></ion-icon>
      <ion-label>item 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="home"></ion-icon>
      <ion-label>item 3</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-header>
  <ion-toolbar color="warning">
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p>Página criada com Menu Layout</p>
</ion-content>