<ion-grid fixed>

  <ion-row>
    <ion-col>
      <ion-toolbar color="medium">
        <ion-title>Título</ion-title>
      </ion-toolbar>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>Página criada com Grid Layout</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>1 - 2</p>
    </ion-col>
    <ion-col>
      <p>2 -2</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>1 - 3</p>
    </ion-col>
    <ion-col>
      <p>2 -3</p>
    </ion-col>
    <ion-col>
      <p>3 -3</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>1 - 4</p>
    </ion-col>
    <ion-col>
      <p>2 -4</p>
    </ion-col>
    <ion-col>
      <p>3 -4</p>
    </ion-col>
    <ion-col>
      <p>4 -4</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <p>1 - 5</p>
    </ion-col>
    <ion-col>
      <p>2 -5</p>
    </ion-col>
    <ion-col>
      <p>3 -5</p>
    </ion-col>
    <ion-col>
      <p>4 -5</p>
    </ion-col>
    <ion-col>
      <p>5 -5</p>
    </ion-col>
  </ion-row>

</ion-grid>